@import url("https://fonts.googleapis.com/css2?family=Carter+One&family=Castoro:ital@0;1&display=swap");
:root {
  --background-color: #ede2fd;
  --text-color: #09001c;
  --accent-color: #fc43da;
  --primary-btn-color: #6a1cfc;
  --secondary-btn-color: #fa7bfd;
}
/* body { overflow-x: hidden; } */