.google-login-container {
    width: 100%;
    max-width: 600px;
    padding: 2rem;
    background-color: var(--primary-btn-color);
    margin: auto;
    text-align: center;
    border-radius: 3rem;
    /* box-shadow: 3px 2px 6px #8d8d8d; */
    box-shadow: 2px 2px 8px 0px rgba(171,171,171,1);
}
.google-login-container h2 {
    color: var(--background-color);
    font-family: "Castoro", serif;
  font-weight: 400;
  font-size: 40px;
}
.googleImage {
    width: 100%;
    max-width: 350px;
}
.back-btn {
    color: var(--accent-color);
    font-family: "Castoro", serif;
  font-weight: 400;
  text-decoration: none;
  font-size: 2rem;
}