.main-progress {
  padding: 2rem;
  text-align: center;
  /* background-color: var(--background); */
}

.language-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.lang-btn {
  padding: 1rem 2rem;
  background: var(--primary-accent);
  border: none;
  color: white;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}
